@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte-titulo: 'Passion One', cursive, sans-serif;
    --fonte-texto: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-texto);
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 10vw;
    font-weight: 900;
}

header p {
    font-size: 18px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
    line-height: 2em;
    padding-left: 30px;
    
}
section.imagem001 > p{
    display: inline-block;
    padding: 5px;
    background-color: #0000004b;
}
section.imagem002 > p{
    display: inline-block;
    padding: 5px;
    background-color: #0000004b;
}
section.imagem001{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    color: #fff;
    
    background-attachment: fixed;
    text-shadow: 1px 2px 1px black;
    
}
section.imagem002{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
    color: #fff;
    
    background-attachment: fixed;
    
    text-shadow: 1px 2px 1px black;
    
}
footer{
    padding: 10px;
    background-color: #000;
    text-align: center;
    color:#f0f0f0
   
}
footer a{
    color: #f0f0f0;
    text-decoration: none;
}
