@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte-titulo: 'Passion One', cursive, sans-serif;
    --fonte-texto: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-texto);
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 60px;
    font-weight: 900;
}

header p {
    font-size: 18px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-texto);
    font-size: 3.5vw;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section.imagem001{
    background-image: url('imagens/background001.jpg');
    background-color: #51586e;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}

section.imagem002{
    background-image: url('imagens/background002.jpg');
    background-color: #51586e;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}

section.imagem > p {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 18px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}